In [1]:
# Operating system, date and time, data analysis, data visuaisation libs

import os , re, datetime , calendar , pandas as pd , seaborn as sns , matplotlib.pyplot as plt
#import hvplot.pandas
import panel as pn
pn.extension('tabulator')

In [2]:
movie_data = pd.read_csv('data/watched-movies.csv')

movie_data

,Title,Top Cast,Summary,Director,Writer,Main Genres,Motion Picture Rating,Runtime,Month Watched,Release Year,Rating,Number of Ratings,Budget,Gross in US & Canada,Gross worldwide,Opening Weekend Gross in US & Canada
0,Murder Mystery 2,"Adam Sandler,Jennifer Aniston,Mark Strong,Mela...",Full-time detectives Nick and Audrey are strug...,Jeremy Garelick,NaN,"Action,Comedy,Crime",PG-13,1h 30m,4/1/2023,2023,5.7/10,64K,NaN,NaN,NaN,NaN
1,Tetris,"Taron Egerton,Mara Huf,Miles Barrow,Rick Yune,...",The story of how one of the world's most popul...,Jon S. Baird,Noah Pink,"Biography,Drama,History",R,1h 58m,4/1/2023,2023,7.4/10,74K,NaN,NaN,NaN,NaN
2,Creed III,"Michael B. Jordan,Tessa Thompson,Jonathan Majo...",Adonis has been thriving in both his career an...,Michael B. Jordan,"Ryan Coogler,Keenan Coogler,Zach Baylin","Drama,Sport",PG-13,1h 56m,4/1/2023,2023,6.8/10,87K,"$75,000,000 (estimated)","$156,248,615","$275,248,615","$58,370,007Mar 5, 2023"
3,Shazam! Fury of the Gods,"Zachary Levi,Asher Angel,Jack Dylan Grazer,Rac...",The film continues the story of teenage Billy ...,David F. Sandberg,"Henry Gayden,Chris Morgan,Bill Parker","Action,Adventure,Comedy",PG-13,2h 10m,4/1/2023,2023,6.0/10,114K,"$125,000,000 (estimated)","$57,638,006","$133,838,006","$30,111,158Mar 19, 2023"
4,Black Panther: Wakanda Forever,"Letitia Wright,Lupita Nyong'o,Danai Gurira,Win...",The people of Wakanda fight to protect their h...,Ryan Coogler,"Ryan Coogler,Stan Lee,Joe Robert Cole","Action,Adventure,Drama",PG-13,2h 41m,2/1/2023,2022,6.7/10,291K,"$250,000,000 (estimated)","$453,829,060","$859,208,836","$181,339,761Nov 13, 2022"
5,Puss in Boots: The Last Wish,"Antonio Banderas,Salma Hayek,Harvey Guillen,Fl...",When Puss in Boots discovers that his passion ...,"Joel Crawford,Januel Mercado","Tommy Swerdlow,Tom Wheeler,Paul Fisher","Animation,Adventure,Comedy",PG,1h 42m,2/1/2023,2022,7.8/10,161K,"$90,000,000 (estimated)","$185,535,345","$481,080,374","$12,429,515Dec 25, 2022"
6,Ant-Man and the Wasp: Quantumania,"Paul Rudd,Evangeline Lilly,Michael Douglas,Mic...",Scott Lang and Hope Van Dyne are dragged into ...,Peyton Reed,"Stan Lee,Jeff Loveness,Larry Lieber","Action,Adventure,Comedy",PG-13,2h 4m,4/1/2023,2023,6.1/10,213K,"$200,000,000 (estimated)","$214,504,909","$476,071,180","$106,109,650Feb 19, 2023"
7,Avatar: The Way of Water,"Sam Worthington,Zoe Saldana,Sigourney Weaver,K...",Jake Sully lives with his newfound family form...,James Cameron,"Amanda Silver,James Cameron,Rick Jaffa","Action,Adventure,Fantasy",PG-13,3h 12m,4/1/2023,2022,7.6/10,469K,"$350,000,000 (estimated)","$684,075,767","$2,320,250,281.00","$134,100,226Dec 18, 2022"
8,Dungeons & Dragons: Honor Among Thieves,"Hugh Grant,Justice Smith,Michelle Rodriguez,Ch...",A charming thief and a band of unlikely advent...,"John Francis Daley,Jonathan Goldstein","John Francis Daley,Michael Gilio,Jonathan Gold...","Action,Adventure,Comedy",PG-13,2h 14m,5/1/2023,2023,7.3/10,202K,"$150,000,000 (estimated)","$93,277,026","$208,177,026","$37,205,784Apr 2, 2023"
9,Elemental,"Leah Lewis,Ronnie Del Carmen,Wedmi McLendon-Co...","Follows Ember and Wade, in a city where fire-,...",Peter Sohn,"Kat Likkel,Brenda Hsueh,John Hoberg","Animation,Adventure,Comedy",PG,1h 41m,12/1/2023,2023,7.0/10,99K,"$200,000,000 (estimated)","$154,426,697","$495,923,852","$29,602,429Jun 18, 2023"
10,Guardians of the Galaxy Vol. 3,"Chris Pratt,Bradley Cooper,Dave Bautista,Chukw...","Still reeling from the loss of Gamora, Peter Q...",James Gunn,"James Gunn,Jim Starlin,Stan Lee","Action,Adventure,Comedy",PG-13,2h 30m,7/1/2023,2023,7.9/10,347K,"$250,000,000 (estimated)","$358,995,815","$845,555,777","$118,414,021May 7, 2023"
11,Hamilton,"Lin-Manuel Miranda,Leslie Odom Jr.,Daveed Digg...",The real life of one of America's foremost fou...,Thomas Kail,"Lin-Manuel Miranda,Ron Chernow","Biography,Drama,History",PG-13,2h 40m,6/1/2023,2020,8.3/10,108K,NaN,NaN,NaN,NaN
12,The Super Mario Bros. Movie,"Chris Pratt,Charlie Day, Kevin Michael Richard...",A plumber named Mario travels through an under...,"Pierre Leduc,Michael Jelenic,Aaron Horvath",Matthew Fogel,"Animation,Adventure,Comedy",PG,1h 32m,6/1/2023,2023,7.1/10,206K,"$100,000,000 (estimated)","$574,934,330","$1,361,976,691","$146,361,865Apr 9, 2023"
13,Transformers: Rise of the Beasts,"Sarah Stiles,Dean Scott Vazquez,Dominique Fish...","During the '90s, a new faction of Transformers...",Steven Caple Jr.,"Josh Peters,Darnell Metayer,Joby Harold","Action,Adventure,Sci-Fi",PG-13,2h 7m,10/1/2023,2023,6.1/10,89K,"$200,000,000 (estimated)","$157,066,392","$438,966,392","$61,045,464Jun 11, 2023"
14,The Prince of Egypt,"Val Kilmer,Michelle Pfeiffer,Jeff Goldblum,Ral...",Egyptian Prince Moses learns of his identity a...,"Simon Wells,Steve Hickner,Brenda Chapman","Nicholas Meyer,Philip LaZebnik","Animation,Adventure,Drama",PG,1h 39m,5/1/2023,1998,7.2/10,143K,"$70,000,000 (estimated)","$101,413,188","$218,613,188","$14,524,321Dec 20, 1998"
15,The Road to El Dorado,"Kevin Kline,Rosie Perez,Edward James Olmos,Ken...",Two swindlers get their hands on a map to the ...,"Jeffrey Katzenberg,Bibo Bergeron,Don Paul","Karey Kirkpatrick,Terry Rossio,Ted Elliott","Animation,Adventure,Comedy",PG,1h 29m,5/1/2023,2000,6.9/10,105K,"$95,000,000 (estimated)","$50,863,742","$76,432,727","$12,846,652Apr 2, 2000"
16,John Wick: Chapter 4,"Keanu Reeves,Clancy Brown,George Georgiou,Ian ...",John Wick uncovers a path to defeating The Hig...,Chad Stahelski,"Shay Hatten,Derek Kolstad,Michael Finch","Action,Crime,Thriller",R,2h 49m,5/1/2023,2023,7.7/10,302K,"$100,000,000 (estimated)","$187,131,806","$440,146,694","$73,817,950Mar 26, 2023"
17,Extraction II,"Chris Hemsworth,Adam Bessa,Demetre Kavelashvil...",After barely surviving his grievous wounds fro...,Sam Hargrave,"Anthony Russo,Ande Parks,Joe Russo","Action,Thriller",R,2h 2m,6/1/2023,2023,7.0/10,135K,NaN,NaN,NaN,NaN
18,Fast X,"Vin Diesel,Ludacris,Jordana Brewster,Michelle ...",Dom Toretto and his family are targeted by the...,"Justin Lin(began filming, was replaced) (uncre...","Dan Mazeau,Zach Dean,Justin Lin","Action,Adventure,Crime",PG-13,2h 21m,8/1/2023,2023,5.8/10,104K,"$340,000,000 (estimated)","$145,960,660","$704,709,660","$67,017,410May 21, 2023"
19,The Flash,"Ezra Miller,Sasha Calle,Ron Livingston,Michael...",Barry Allen uses his super speed to change the...,Andy Muschietti,"John Francis Daley,Jonathan Goldstein,Christin...","Action,Adventure,Fantasy",PG-13,2h 24m,8/1/2023,2023,6.7/10,188K,"$200,000,000 (estimated)","$108,133,313","$270,633,313","$55,043,679Jun 18, 2023"
20,The Little Mermaid,"Art Malik,Javier Bardem,Jonah Hauer-King,Melis...",A young mermaid makes a deal with a sea witch ...,Rob Marshall,"David Magee,Hans Christian Andersen,John Musker","Adventure,Family,Fantasy",PG,2h 15m,8/1/2023,2023,7.2/10,144K,"$250,000,000 (estimated)","$298,172,056","$569,626,289","$95,578,040May 28, 2023"
21,Mission: Impossible - Dead Reckoning Part One,"Tom Cruise,Ving Rhames,Rebecca Ferguson,Hayley...",Ethan Hunt and his IMF team must track down a ...,Christopher McQuarrie,"Erik Jendresen,Christopher McQuarrie,Bruce Geller","Action,Adventure,Thriller",PG-13,2h 43m,7/1/2023,2023,7.8/10,194K,"$291,000,000 (estimated)","$172,135,383","$567,535,383","$54,688,347Jul 16, 2023"
22,Spider-Man: Across the Spider-Verse,"Oscar Isaac,Luna Lauren Velez,Hailee Steinfiel...","Miles Morales catapults across the Multiverse,...","Justin K. Thompson,Joaquim Dos Santos,Kemp Powers","Dave Callaham,Phil Lord,Christopher Miller","Animation,Action,Adventure",PG,2h 20m,10/1/2023,2023,8.7/10,304K,"$150,000,000 (estimated)","$381,311,319","$690,516,673","$120,663,589Jun 4, 2023"
23,The Three Musketeers - Part I: D'Artagnan,"Eva Green,Romain Duris,Francois Civil,Vincent ...",D'Artagnan arrives in Paris trying to find his...,Martin Bourboulon,"Matthieu Delaporte,Alexandre de La Patelli?e,A...","Action,Adventure,History",NaN,2h 1m,8/1/2023,2023,6.7/10,14K,"?36,000,000 (estimated)",NaN,"$31,454,237",NaN
24,Barbie,"Margot Robbie,Issa Rae,Alexandra Shipp,Ryan Go...",Barbie suffers a crisis that leads her to ques...,Greta Gerwig,"Greta Gerwig,Noah Baumbach","Adventure,Comedy,Fantasy",PG-13,1h 54m,10/1/2023,2023,7.0/10,393K,"$100,000,000 (estimated)","$636,191,846","$1,441,791,846","$162,022,044Jul 23, 2023"
25,Blue Beetle,"Xolo Mariduena,Becky G,George Lopez,Bruna Marq...",An alien scarab chooses Jaime Reyes to be its ...,Angel Manuel Soto,Gareth Dunnet-Alcocer,"Action,Adventure,Sci-Fi",PG-13,2h 7m,10/1/2023,2023,6.0/10,72K,"$104,000,000 (estimated)","$72,488,072","$129,288,072","$25,030,225Aug 20, 2023"
26,Oppenheimer,"Cillian Murphy,Matt Damon,Aldren Ehrenreich,Em...","The story of American scientist, J. Robert Opp...",Christopher Nolan,"Martin Sherwin,Christopher Nolan,Kai Bird","Biography,Drama,History",R,3h,11/1/2023,2023,8.5/10,525K,"$100,000,000 (estimated)","$325,367,020","$950,554,020","$82,455,420Jul 23, 2023"
27,The Equalizer 3,"Remo Girone,David Denman,Dakota Fanning,Gaia S...",Robert McCall finds himself at home in Souther...,Antoine Fuqua,"Michael Sloan,Richard Wenk,Richard Lindheim","Action,Crime,Thriller",R,1h 49m,11/1/2023,2023,6.9/10,71K,"$70,000,000 (estimated)","$92,373,751","$190,687,282","$34,604,229Sep 3, 2023"
28,The Black Book,"Richard Mofe-Damijo,Sam Dede,Shaffy Bello,Kele...","After his son is framed for a kidnapping, a be...",Editi Effiong,"Editi Effiong,Bunmi Ajakaiye",Thriller,TV-MA,2h 4m,11/1/2023,2023,5.2/10,1.1K,"$1,000,000 (estimated)",NaN,NaN,NaN
29,Missing,"Tim Griffin,Nia Long,Storm Reid,Ken Leung,Kimb...","After her mother goes missing, a young woman t...","Will Merrick,Nicholas D. Johnson","Sev Ohanian,Will Merrick,Nicholas D. Johnson","Drama,Mystery,Thriller",PG-13,1h 51m,11/1/2023,2023,7.1/10,53K,"$7,000,000 (estimated)","$32,502,025","$48,767,848","$9,154,695Jan 22, 2023"
30,The Hunger Games: The Ballad of Songbirds & Sn...,"Rachel Zegler,Viola Davis,Rosa Gotzler,Tom Bly...",Coriolanus Snow mentors and develops feelings ...,Francis Lawrence,"Michael Lesslie,Michael Arndt,Suzanne Collins","Action,Adventure,Drama",PG-13,2h 37m,12/1/2023,2023,7.2/10,37K,"$100,000,000 (estimated)","$105,043,414","$191,729,235","$44,607,143Nov 19, 2023"
31,Tenet,"John David Washington,Elizabeth Debicki,Robert...","Armed with only one word, Tenet, and fighting ...",Christopher Nolan,Christopher Nolan,"Action,Sci-Fi,Thriller",PG-13,2h 30m,7/2/2023,2020,7.3/10,569K,"$205,000,000 (estimated)","$58,504,105","$365,304,105","$9,353,090Sep 6, 2020"
32,Emancipation,"Will Smith, Charmaine Bingwa,Ronnie Gene Blevi...",A runaway slave forges through the swamps of L...,Antoine Fuqua,Bill Collage,"Action,Thriller",R,2h 12m,8/3/2023,2022,6.2/10,26K,"$120,000,000 (estimated)",NaN,NaN,NaN

### Information

In [3]:
movie_data.info()

movie_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Title                                 33 non-null     object
 1   Top Cast                              33 non-null     object
 2   Summary                               33 non-null     object
 3   Director                              33 non-null     object
 4   Writer                                32 non-null     object
 5   Main Genres                           33 non-null     object
 6   Motion Picture Rating                 32 non-null     object
 7   Runtime                               33 non-null     object
 8   Month Watched                         33 non-null     object
 9   Release Year                          33 non-null     int64
 10  Rating                                33 non-null     object
 11  Number of Ratings                     33 non-null     object
 12  Budget                                29 non-null     object
 13  Gross in US & Canada                  26 non-null     object
 14  Gross worldwide                       27 non-null     object
 15  Opening Weekend Gross in US & Canada  26 non-null     object
dtypes: int64(1), object(15)
memory usage: 4.3+ KB

       Release Year
count     33.000000
mean    2021.242424
std        5.793479
min     1998.000000
25%     2023.000000
50%     2023.000000
75%     2023.000000
max     2023.000000

### Data Cleaning

In [4]:
# Check for missing values
movie_data.isnull().sum()

Title                                   0
Top Cast                                0
Summary                                 0
Director                                0
Writer                                  1
Main Genres                             0
Motion Picture Rating                   1
Runtime                                 0
Month Watched                           0
Release Year                            0
Rating                                  0
Number of Ratings                       0
Budget                                  4
Gross in US & Canada                    7
Gross worldwide                         6
Opening Weekend Gross in US & Canada    7
dtype: int64

In [5]:
# Replace missing values with zero
movie_data.fillna(0, inplace=True)

# Check missing values again
movie_data.isnull().sum()

Title                                   0
Top Cast                                0
Summary                                 0
Director                                0
Writer                                  0
Main Genres                             0
Motion Picture Rating                   0
Runtime                                 0
Month Watched                           0
Release Year                            0
Rating                                  0
Number of Ratings                       0
Budget                                  0
Gross in US & Canada                    0
Gross worldwide                         0
Opening Weekend Gross in US & Canada    0
dtype: int64

In [6]:
# Check for duplicates
movie_data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
dtype: bool

In [7]:
# Drop all unwanted columns
movie_data.drop(columns=['Summary','Motion Picture Rating','Budget','Gross in US & Canada','Gross worldwide','Opening Weekend Gross in US & Canada'], inplace=True)

movie_data.head()

,Title,Top Cast,Director,Writer,Main Genres,Runtime,Month Watched,Release Year,Rating,Number of Ratings
0,Murder Mystery 2,"Adam Sandler,Jennifer Aniston,Mark Strong,Mela...",Jeremy Garelick,0,"Action,Comedy,Crime",1h 30m,4/1/2023,2023,5.7/10,64K
1,Tetris,"Taron Egerton,Mara Huf,Miles Barrow,Rick Yune,...",Jon S. Baird,Noah Pink,"Biography,Drama,History",1h 58m,4/1/2023,2023,7.4/10,74K
2,Creed III,"Michael B. Jordan,Tessa Thompson,Jonathan Majo...",Michael B. Jordan,"Ryan Coogler,Keenan Coogler,Zach Baylin","Drama,Sport",1h 56m,4/1/2023,2023,6.8/10,87K
3,Shazam! Fury of the Gods,"Zachary Levi,Asher Angel,Jack Dylan Grazer,Rac...",David F. Sandberg,"Henry Gayden,Chris Morgan,Bill Parker","Action,Adventure,Comedy",2h 10m,4/1/2023,2023,6.0/10,114K
4,Black Panther: Wakanda Forever,"Letitia Wright,Lupita Nyong'o,Danai Gurira,Win...",Ryan Coogler,"Ryan Coogler,Stan Lee,Joe Robert Cole","Action,Adventure,Drama",2h 41m,2/1/2023,2022,6.7/10,291K

In [8]:
# Clean Director column (remove contents in parenthsis)
movie_data['Director'] = movie_data['Director'].map(lambda x: re.sub(r'\([^)]*\)','', x))

In [9]:
# Clean rating column (remove /10)

movie_data['Rating'] = movie_data['Rating'].map(lambda x: x.replace('/10',''))
movie_data.head(5)

,Title,Top Cast,Director,Writer,Main Genres,Runtime,Month Watched,Release Year,Rating,Number of Ratings
0,Murder Mystery 2,"Adam Sandler,Jennifer Aniston,Mark Strong,Mela...",Jeremy Garelick,0,"Action,Comedy,Crime",1h 30m,4/1/2023,2023,5.7,64K
1,Tetris,"Taron Egerton,Mara Huf,Miles Barrow,Rick Yune,...",Jon S. Baird,Noah Pink,"Biography,Drama,History",1h 58m,4/1/2023,2023,7.4,74K
2,Creed III,"Michael B. Jordan,Tessa Thompson,Jonathan Majo...",Michael B. Jordan,"Ryan Coogler,Keenan Coogler,Zach Baylin","Drama,Sport",1h 56m,4/1/2023,2023,6.8,87K
3,Shazam! Fury of the Gods,"Zachary Levi,Asher Angel,Jack Dylan Grazer,Rac...",David F. Sandberg,"Henry Gayden,Chris Morgan,Bill Parker","Action,Adventure,Comedy",2h 10m,4/1/2023,2023,6.0,114K
4,Black Panther: Wakanda Forever,"Letitia Wright,Lupita Nyong'o,Danai Gurira,Win...",Ryan Coogler,"Ryan Coogler,Stan Lee,Joe Robert Cole","Action,Adventure,Drama",2h 41m,2/1/2023,2022,6.7,291K

### Data transformation

In [10]:
# Transform runtime from string to mins

# Function to convert 'h' to minutes
def convert_to_minutes(duration):
    if 'h' in duration and 'm' in duration:
        hours, minutes = duration.split('h ')
        hours = int(hours)
        minutes = int(minutes.replace('m', ''))
    elif 'h' in duration:
        hours = int(duration.replace('h', ''))
        minutes = 0
    else:
        hours = 0
        minutes = int(duration.replace('m', ''))

    total_minutes = hours * 60 + minutes
    return total_minutes

# Applying the function to the 'Runtime' column
movie_data['Runtime'] = movie_data['Runtime'].apply(convert_to_minutes)


#Transform date string to months
date_col = pd.DatetimeIndex(movie_data['Month Watched'])
movie_data['Month Watched'] = date_col.month.map(lambda x: calendar.month_name[x])


# Convert rating string to floats
movie_data['Rating'] = movie_data['Rating'].astype(float)


movie_data.head(5)

,Title,Top Cast,Director,Writer,Main Genres,Runtime,Month Watched,Release Year,Rating,Number of Ratings
0,Murder Mystery 2,"Adam Sandler,Jennifer Aniston,Mark Strong,Mela...",Jeremy Garelick,0,"Action,Comedy,Crime",90,April,2023,5.7,64K
1,Tetris,"Taron Egerton,Mara Huf,Miles Barrow,Rick Yune,...",Jon S. Baird,Noah Pink,"Biography,Drama,History",118,April,2023,7.4,74K
2,Creed III,"Michael B. Jordan,Tessa Thompson,Jonathan Majo...",Michael B. Jordan,"Ryan Coogler,Keenan Coogler,Zach Baylin","Drama,Sport",116,April,2023,6.8,87K
3,Shazam! Fury of the Gods,"Zachary Levi,Asher Angel,Jack Dylan Grazer,Rac...",David F. Sandberg,"Henry Gayden,Chris Morgan,Bill Parker","Action,Adventure,Comedy",130,April,2023,6.0,114K
4,Black Panther: Wakanda Forever,"Letitia Wright,Lupita Nyong'o,Danai Gurira,Win...",Ryan Coogler,"Ryan Coogler,Stan Lee,Joe Robert Cole","Action,Adventure,Drama",161,February,2022,6.7,291K

## Exploratory Data Analysis

### Actor Analysis

- A full analysis on performers(Actors/actresses). Find out the Favourite actor with number of associated movies and the Top 3 actors

In [11]:
# Create dataframe for director
actors_data = movie_data['Top Cast'].str.split(',', expand=True)
actors_data.columns = [f"Actor_{i+1}" for i in range(actors_data.shape[1])]


actors_data.head(3)

,Actor_1,Actor_2,Actor_3,Actor_4,Actor_5,Actor_6
0,Adam Sandler,Jennifer Aniston,Mark Strong,Melanie Laurent,Jodie Turner-Smith,John Kani
1,Taron Egerton,Mara Huf,Miles Barrow,Rick Yune,Nikita Efremov,Toby Jones
2,Michael B. Jordan,Tessa Thompson,Jonathan Majors,Wood Harris,Phylicia Rashad,Mila Davis-Kent

In [12]:
# Combine multiple genre columns into a single series
actors_series = actors_data.stack()


actors_series


actor_counts = actors_series.value_counts()

print(actor_counts)

# Get the most common actor
most_common_actor = actor_counts.idxmax()

print("Favourite actor is:" , most_common_actor)

Michelle Rodriguez           2
Jonathan Majors              2
Rachel Zegler                2
Luna Lauren Velez            2
Chris Pratt                  2
                            ..
Renee Elise Goldsberry       1
Phillipa Soo                 1
Charlie Day                  1
 Kevin Michael Richardson    1
Ben Foster                   1
Name: count, Length: 190, dtype: int64
Favourite actor is: Michelle Rodriguez

### Director Analysis

- A full analysis on directors. Find out the total number of directors, Favourite director with number of associated movies and the Top 3 directors.

In [13]:
# Create dataframe for director
directors_data = movie_data['Director'].str.split(',', expand=True)
directors_data.columns = [f"Director_{i+1}" for i in range(directors_data.shape[1])]


directors_data.head(3)

          Director_1 Director_2 Director_3
0    Jeremy Garelick       None       None
1       Jon S. Baird       None       None
2  Michael B. Jordan       None       None

In [14]:
# Combine multiple genre columns into a single series
directors_series = directors_data.stack()


directors_series


director_counts = directors_series.value_counts()

print(director_counts)

# Get the most common director
most_common_director = director_counts.idxmax()

print("Favourite Director is:" , most_common_director)

Antoine Fuqua            2
Christopher Nolan        2
Jeremy Garelick          1
Justin K. Thompson       1
Chad Stahelski           1
Sam Hargrave             1
Justin Lin               1
Louis Leterrier          1
Justin Lin               1
Andy Muschietti          1
Rob Marshall             1
Christopher McQuarrie    1
Joaquim Dos Santos       1
Jon S. Baird             1
Kemp Powers              1
Martin Bourboulon        1
Greta Gerwig             1
Angel Manuel Soto        1
Editi Effiong            1
Will Merrick             1
Nicholas D. Johnson      1
Don Paul                 1
Bibo Bergeron            1
Jeffrey Katzenberg       1
Jonathan Goldstein       1
Michael B. Jordan        1
David F. Sandberg        1
Ryan Coogler             1
Joel Crawford            1
Januel Mercado           1
Peyton Reed              1
James Cameron            1
John Francis Daley       1
Peter Sohn               1
Brenda Chapman           1
James Gunn               1
Thomas Kail              1
Pierre Leduc             1
Michael Jelenic          1
Aaron Horvath            1
Steven Caple Jr.         1
Simon Wells              1
Steve Hickner            1
Francis Lawrence         1
Name: count, dtype: int64
Favourite Director is: Antoine Fuqua

### Writer Analysis

- A full analysis on writers. Find out the total number of writers, Favourite writer with number of associated movies and the Top 3 writers.

In [15]:
# Create dataframe for director
writers_data = movie_data['Writer'].str.split(',', expand=True)
writers_data.columns = [f"Writer_{i+1}" for i in range(writers_data.shape[1])]


writers_data.head(3)

       Writer_1        Writer_2     Writer_3
0           NaN             NaN          NaN
1     Noah Pink            None         None
2  Ryan Coogler  Keenan Coogler  Zach Baylin

In [16]:
# Combine multiple genre columns into a single series
writers_series = writers_data.stack()


writers_series


writer_counts = writers_series.value_counts()

print(writer_counts)

# Get the most common writer
most_common_writer = writer_counts.idxmax()

print("Favourite writer is:" , most_common_writer)

Stan Lee              3
Ryan Coogler          2
Jonathan Goldstein    2
John Francis Daley    2
Christopher Nolan     2
                     ..
Ron Chernow           1
Lin-Manuel Miranda    1
Jim Starlin           1
James Gunn            1
Bill Collage          1
Name: count, Length: 76, dtype: int64
Favourite writer is: Stan Lee

### Genre Analysis

- A full analysis on genres. Find out the total number of genres, Favourite genre with number of associated movies and the Top 3 genres.

In [17]:
# Create dataframe for genre
genres_data= movie_data['Main Genres'].str.split(',', expand=True)
genres_data.columns = [f"Genre_{i+1}" for i in range(genres_data.shape[1])]


genres_data

      Genre_1    Genre_2    Genre_3
0      Action     Comedy      Crime
1   Biography      Drama    History
2       Drama      Sport       None
3      Action  Adventure     Comedy
4      Action  Adventure      Drama
5   Animation  Adventure     Comedy
6      Action  Adventure     Comedy
7      Action  Adventure    Fantasy
8      Action  Adventure     Comedy
9   Animation  Adventure     Comedy
10     Action  Adventure     Comedy
11  Biography      Drama    History
12  Animation  Adventure     Comedy
13     Action  Adventure     Sci-Fi
14  Animation  Adventure      Drama
15  Animation  Adventure     Comedy
16     Action      Crime   Thriller
17     Action   Thriller       None
18     Action  Adventure      Crime
19     Action  Adventure    Fantasy
20  Adventure     Family    Fantasy
21     Action  Adventure   Thriller
22  Animation     Action  Adventure
23     Action  Adventure    History
24  Adventure     Comedy    Fantasy
25     Action  Adventure     Sci-Fi
26  Biography      Drama    History
27     Action      Crime   Thriller
28   Thriller       None       None
29      Drama    Mystery   Thriller
30     Action  Adventure      Drama
31     Action     Sci-Fi   Thriller
32     Action   Thriller       None

In [18]:
# Combine multiple genre columns into a single series
genres_series = genres_data.stack()


genres_series


genre_counts = genres_series.value_counts()

print(genre_counts)

# Get the most common genre
most_common_genre = genre_counts.idxmax()

print("Favourite genre is:" , most_common_genre)


# Count the number of distinct genres
num_distinct_genres = genres_series.nunique()

print(f"The number of distinct genres is: {num_distinct_genres}")

Adventure    21
Action       20
Comedy       10
Drama         8
Thriller      8
Animation     6
Crime         4
History       4
Fantasy       4
Biography     3
Sci-Fi        3
Sport         1
Family        1
Mystery       1
Name: count, dtype: int64
Favourite genre is: Adventure
The number of distinct genres is: 14

### Rating and Months watched

 - Analysis on ratings and month watched. Find the Best movie watched and worst movie watched. Find the average movie. Find the total number of movies watched for each month. Find the month with the highest and lowest amount of movies watched. Find the median.

In [19]:
# Highest rated movie
highest_rated_movie = movie_data.loc[movie_data['Rating'].idxmax(),['Title','Rating']]

# Lowest rated movie
lowest_rated_movie = movie_data.loc[movie_data['Rating'].idxmin(),['Title','Rating']]

# Top 3 highest rated movies
top_3_highest_rated_movies = movie_data.nlargest(3, 'Rating')[['Title','Rating']]

# Average rating
average_rating = movie_data['Rating'].mean()
average_rating = average_rating.astype(int)

average_rated_movie = movie_data.loc[average_rating,['Title','Rating']]

print("Highest Rated Movie:")
print(highest_rated_movie)
print("\nLowest Rated Movie:")
print(lowest_rated_movie)
print("\nTop 3 Highest Rated Movies:")
print(top_3_highest_rated_movies)
print("\nAverage Rated Movie:", average_rated_movie)
print("\nAverage Rating:", average_rating)

Highest Rated Movie:
Title     Spider-Man: Across the Spider-Verse
Rating                                    8.7
Name: 22, dtype: object

Lowest Rated Movie:
Title     The Black Book
Rating               5.2
Name: 28, dtype: object

Top 3 Highest Rated Movies:
                                  Title  Rating
22  Spider-Man: Across the Spider-Verse     8.7
26                          Oppenheimer     8.5
11                             Hamilton     8.3

Average Rated Movie: Title     Ant-Man and the Wasp: Quantumania
Rating                                  6.1
Name: 6, dtype: object

Average Rating: 6

In [20]:
# Months watched code

# Group movies by month and count the number of movies watched for each month
movies_per_month = movie_data['Month Watched'].value_counts()

# Get statistics: highest, lowest, and average movies watched per month
highest_movies_watched = movies_per_month.max()
lowest_movies_watched = movies_per_month.min()
average_movies_watched = movies_per_month.mean()

print("Number of Movies Watched for Each Month:")
print(movies_per_month)
print("\nHighest Movies Watched in a Month:", highest_movies_watched)
print("Lowest Movies Watched in a Month:", lowest_movies_watched)
print("Average Movies Watched per Month:", average_movies_watched)

Number of Movies Watched for Each Month:
Month Watched
April       6
August      5
May         4
October     4
November    4
July        3
June        3
February    2
December    2
Name: count, dtype: int64

Highest Movies Watched in a Month: 6
Lowest Movies Watched in a Month: 2
Average Movies Watched per Month: 3.6666666666666665

### Full review

- Favourite Genre,Director, Writer,Performer(Actor/Actress)

- Least watched genre

- Total movies, distinct genres, directos, writers, runtime.

- Most watched month
- Least watched month

- Top 3 movies, months watched, genres, Directors, Performers,writers

- Best movie (rated)

- Worst movie (rated)

In [21]:
# code goes here

## Data visualization